---
layout: page
---	  
<article>



<p>The {{ site.data.conference.instance }} {{ site.data.conference.styling }} {{site.data.conference.full_name }} will be hosted at {{ site.data.conference.venue }}, {{ site.data.conference.location }}.
</p>


<br>
<br>

<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9720.134762541116!2d-1.9077552!3d52.4785257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4870bdde2732cf03%3A0x35101faddd8fb763!2sThe%20Exchange!5e0!3m2!1sen!2suk!4v1730636094090!5m2!1sen!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>
</article>

